body{
     background-image: url("../img/inicio.jpeg");
}
header{
	/*border: 1px solid;*/
	text-align: center;
	height: 60px;
	padding-top: 8%;
	font-size: 35px;
	font-weight: bold;
	color:white;
	font-family: "Times New Roman", Times, serif;
}

footer{
	/*border:1px solid;*/
	text-align: center;
	height: 40px;
	padding-bottom: 8%;
    font-size: 35px;
	font-weight: bold;
	color:white;
	font-family: "Times New Roman", Times, serif;
	padding-top: 1%;
}
.contenedor{
	width:100%;
	margin: auto;
	height: 200px;
	margin-top:10px; 
	margin-bottom:20px;
	background-color:rgb(230, 216, 213);
	opacity: 0.5;
}


.tabla{
	margin:auto;
	width: 20%;
	border: 1px solid;
	padding-left:10%;
	
}

.primero{
padding-bottom: 30px;
}

.segundo{
	text-align:center;
}